* {
    box-sizing: border-box; /*webpage accounts for margins and padding*/
    margin: 0; 
    padding: 0;
}


body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar {  /*navigation bar container on the page itself*/
display: flex;  /*makes the nav bar itself a container*/
justify-content: center;  /*moves items inside container along main axis*/
background-color: gray;
align-items: center;
position:-webkit-sticky; /* for safari*/
position: sticky; /* sticks the navbar to the top*/
top: 0;
}

.navbar ul {   /*positions the items inside navbar containter */
    display: flex;
    justify-items: center; /*yes this ignores flex items, im aware*/
    list-style: none; /*removed the dots*/
    margin-top: 15px; 
    margin-bottom: 15px;  
}


.navbar ul li {  /*edits the static words in navbar list + added border around words + added space between words and border*/
    font-weight: 700;
    border: 1px solid rgb(209, 157, 157);
    border-radius: 28px;
    margin: 0  20px; /*some spacing between the words in the container*/
    padding: 10px 10px;
}

