
@media screen and (max-width: 600px) {
    
  .navbar{
     display: flex;
     position: fixed;
     top: 0;
     width: 100%;
     margin-right: 0;
  }   
 
     .navbar li {
       font-size: 0.5rem;
       margin: auto;
       margin;
     }
 
   }